MONGO_URL="mongodb://localhost:27017"
DB_NAME="test_database"
CORS_ORIGINS="*"
EMERGENT_LLM_KEY=""
OPENAI_MODEL="gpt-4.1"
OPENAI_API_KEY=""
USE_EMERGENT_FOR_OPENAI="false"
GEMINI_MODEL="gemini/gemini-2.0-flash"
GEMINI_API_KEY=""
USE_EMERGENT_FOR_GEMINI="false"
USE_LOCAL_TEST_AGENT="true"
